*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: alyssum;
    src: url(../fontes/Alyssum-Sans.woff);
  }

  @font-face {
    font-family: ahsing;
    src: url(../fontes/Ahsing-Regular.otf);
    font-weight: bold;
  }

  @font-face {
    font-family: neue;
    src: url(../fontes/NeueMachina-Ultrabold.otf);
  }

:root{
    --bg-color: #CFE0C3;
    --bg2-color: #0B2027;
    --letra: #fff;
    --botao: #344F51;
 }

 body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--bg-color);
}

.bvd {
    background-color: var(--bg2-color);
    color: white;
    padding: 100px;
    border-radius: 36px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    text-align: center;
}

.bvd h1 {
    position: relative;
    top: -50px;
    margin-top: 0;
    font-size: 45px;
    font-family: ahsing;

}

.bvd p {
    font-size: 15px;
    font-family: alyssum;
    line-height: 2.0;
}

.comecar_quiz{
    background-color: var(--botao);
    color: var(--letra);
    text-decoration: none;
    padding: 15px 40px;
    border: none;
    border-radius: 12px;
    font-size: 15px;
    position: relative;
    top: 50px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: alyssum;
}

.comecar_quiz:hover {
    transition: transform 0.3s ease-in-out , background-color 0.3s ease-in-out;
    transform: scale(1.3);
    background-color: var(--bg-color);
    color: var(--botao);
}

.virus{
    position: absolute;
    align-items: center;
    width: 170px; height: auto;
}

.botao-voltar img {
    position: absolute;
    top: 50px;
    left: 40px;
    width: 60px;
    height: auto;
    cursor: pointer;
}