*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
}

:root{
    --bg-color: #CFE0C3;
    --bg2-color: #0B2027;
    --letra: #fff;
    --botao: #344F51;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--bg-color);
}

main {
    display: flex;
}

p {
    color: white;
    background-color: #0B2027;
    padding: 15px;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-top: 30px;
    font-size: 30px;
    margin-right: 16px;
}

.container {
    background-color: #0B2027;
    padding: 40px;
    max-width: 900px;
    border-radius: 50px;
}

.emcima h2 {
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 800;
}

.alternativas form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 12px;
    
}

.alternativas label {
    width: 800px;
    display: block;
    padding: 12px;
    background: #344F51;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
    box-shadow: 0px 16px 40px 0px rgba(49, 62, 81, 0.14);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.alternativas label:has(input:checked) {
    outline: 3px solid white;

    & span {
        background: rgb(0, 61, 176);
        color: rgb(255, 255, 255);
    }
}

.alternativas div {
    display: flex;
    align-items: center;
    gap: 16px;


}

.alternativas div span {
    display: block;
    width: 40px;
    height: 40px;
    background: #538E96;
    border-radius: 12px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.alternativas button {
    padding: 16px;
    border-radius: 20px;
    border: none;
    background: #344F51;
    color: white;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    transition: background 0.3s;
    margin-top: 10px;
}


.alternativas button:hover {
    background: #538E96;
    cursor: pointer;
}

.alternativas input {
    display: none;
} 


.alternativas button {
    font-size: 22px;
}

#correta {
    background-color: lightgreen;
    border: 2px solid green;
}

#errada {
    background-color: lightcoral;
    border: 2px solid red;
}